.loginScreen{
    position: relative;
    height: 100%;
    background: url("../assets/cover.jpeg") center no-repeat;
    background-size: cover;
}

.loginScreen__logo{
    position: fixed;
    left: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    
}

.signIn__button{
   position: fixed;
   right: 20px;
   top: 20px;
   padding: 10px 20px;
   font-size: 1.1rem;
   color: white;
   background-color: #E100FF;
   border: none;
   cursor: pointer;   
}

.loginScreen__gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
        to top ,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
    );
}

.loginScreen__body{
    position: absolute;
    top: 30%;
    outline-width: 0;
    z-index: 1;
    color: white;
    padding: 20px;
    margin-left: auto ;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;   
}

.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
    font-family: fantasy;
}
.loginScreen__body > h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: fantasy;
}
.loginScreen__body > h3{
    font-size: 1.3rem;
    font-weight: 600; 
    font-family: fantasy;  
}

.loginScreen__input{
   margin: 20px;    
}
.loginScreen__input > form > input{
    padding: 10px;
    font-size: 1rem;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.button__login{
    padding: 16px 20px; 
    font-size: 1rem;
    color: white;
    background-color: #E100FF;
    border: none;
    font-weight: 600;
    cursor: pointer;
   
      
}
